.App {
  text-align: center;
}

.bottom_half_detailed_page{
  text-align: left;
  padding-left: 50px;
}

.header_underline{
  text-decoration: underline;
}

.movie_description{
  font-style: italic;
}

.button{
  border: 5px solid black;
  border-radius: 12px;
  background: lightblue;
  color: black;
  font-weight: bold;
  padding: 10px;
}